//-
//- File name: footer.pug 
//- Author's: Simranjit 
//- Web site name: https://rocky-waters-41514.herokuapp.com/
//- File description: Footer Partial
//
footer#footer
  p Copyright (c) SimranJit Kaur