- var values = ['Same', 'new'];
each val in values
    div(class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" style="display:relative" data-wow-duration="2s")
        
        div(class="relative")
            div(class="thumb")
                div(class="overlay overlay-bg")
                img(class="image img-fluid" src="img/work/w1.jpg" alt="")
                div(class="middle")
                    h4= val
                    div(class="cat") #{projectTitle}
                    a(class="overlay" href="#")