//-
//- File name: Index.js 
//- Author's: Simranjit 
//- Web site name: https://rocky-waters-41514.herokuapp.com/about
//- File description: About section to be used for Pages and as a component
//-

extend layout

block content
    if header == 1
        include partials/header.pug
    section.about-area.section-gap(id='about')
        div.container
            div.row.align-items-center.justify-content-between
                div.col-lg-6.about-left
                    img(src="img/logo.png" alt="").img-fluid
                div.col-lg-5.col-md-12.about-right
                    div(class="section-title")
                        h2 about myself
                    div(class="mb-50 wow fadeIn" data-wow-duration=".8s" style="visibility: visible; animation-duration: 0.8s; animation-name: fadeIn;")
                        p.
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the
                            workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior
                            is often laughed. inappropriate behavior is often laughed off as “boys will be boys,” women face higher.
                        p.
                            That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.
                    a(href="/about" class="primary-btn white" data-text="More Info")
                        span M
                        span o
                        span r
                        span e
                        span  
                        span I
                        span n
                        span f
                        span o
                    a(href="/about" class="primary-btn" data-text="Resume")
                        span R
                        span e
                        span s
                        span u
                        span m
                        span e