//-
//- File name: Index.js 
//- Author's: Simranjit 
//- Web site name: https://rocky-waters-41514.herokuapp.com/
//- File description: Error file description and display
//-

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
