//-
//- File name: Index.js 
//- Author's: Simranjit 
//- Web site name: https://rocky-waters-41514.herokuapp.com/
//- File description:  Index page consists of all the components to be displayed on home
//-

extends layout 

block content
    include partials/header.pug
    //- Including Banner Page 
    include banner.pug
    //- Including About Page 
    include about.pug
    //- Including Projects Page 
    include projects.pug
    //- Including Service Page 
    include services.pug
    //- Including Contact Me Page 
    include contact.pug

    include partials/footer.pug