//-
//- File name: Index.js 
//- Author's: Simranjit 
//- Web site name: https://rocky-waters-41514.herokuapp.com/
//- File description:  Layout section to be used for structuring the page with required css & js
//- Used the Kenedy template for portfolio Css and structuring, to ensure better look & feel https://colorlib.com/download/2104/?dlm-dp-dl-force=1&dlm-dp-dl-nonce=8427008c21


doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900", rel="stylesheet")
    link(rel="stylesheet", href="css/linearicons.css")
    link(rel="stylesheet", href="css/font-awesome.min.css")
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/magnific-popup.css")
    link(rel="stylesheet", href="css/nice-select.css")
    link(rel="stylesheet", href="css/animate.min.css")
    link(rel="stylesheet", href="css/owl.carousel.css")
    link(rel="stylesheet", href="css/main.css")

    body
      block content